<template>
    <section class="description">
        <h2>
            Accident avec Adelle
        </h2>
        <span>Crée le 2008-03-30 à 5h13 par Kristin</span>
        <form>
            <label>Tire</label>
            <input type="text" id="tire" name="tire" placeholder="Accident">
            <label>Description</label>
            <textarea></textarea>
            <div class="time">
            <label class="date">Date</label>
            <label class="heure">Heure</label>
            </div>
            <div class="time">
            <input type="date" id="start" value="2008-03-30">
            <input type="time" id="time" value="05:13">
            </div>
            <label>Nom du statut</label>
            <select id="statut" name="statut">
                <option value="on">Ouvert</option>
                <option value="off">Fermé</option>
            </select>
            <label>Employé impliqué</label>
            <select id="employe" name="employe">
                <option value=""></option>
            </select>
        </form>
    </section>
</template>

<script>
export default {
  name: 'Accident',
  props: {
    msg: String
  }
}
</script>

<style scoped>
.description {
   margin: 4em 2em; 
 }

 .time {
   display:flex;
 }
 .date {
   margin-right: 19em;
 }

 #start {
   width: 13em;
   margin-right: 5.5em;
 }

 #time {
   width: 6em;
 }

 .commentaire {
   margin: 7em 0 0 2em;
 }
</style>