<template>
  <div class="flex">
  <h1> Mes événements </h1>
    <div class="border">
      <div class="employes">
        <Titles :titles="events" />
      </div>
    </div>
   </div> 
</template>

<script>
import Titles from './titles.vue'


export default {
  name: 'Evenement',
  props: {
    msg: String
  },
  components: {
    Titles
  }
}
</script>

<style scoped>
.border{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid #767676;
    background-color: #e5e5e5;
    width: 20em;
    height: 35em;
    overflow-y: scroll;
    z-index: 0;
}

.employes {
    text-align: center;
    border:1px solid #767676;
    background-color: #fff;
    padding: 1.5em;
    margin: 0.75em;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.employes:active {
  text-align: center;
  border:1px solid #11E0BB;
  background-color: #fff;
  padding: 1.5em 5em;
  margin: .75em;
}
.flex {
  display: flex;
  flex-direction: column;
}
</style>