<template>
     <div :key="title.id" v-for="title in events">
         <p>{{title}}</p>
     </div>
</template>

<script>
   export default {
       name: 'Titles',
       props: {
           title: Array
       }
   } 
</script>
