<template>
  <main>
    <evenements />
    <accident />
  </main>
</template>

<script>
import Evenements from './components/evenements.vue'
import Accident from './components/accident.vue'

export default {
  name: 'App',
  components: {
    Evenements,
    Accident
  },
  data() {
    return {
      events: []
    }
  },
  created() {
    this.events = [
    {
        "id": 47,
        "creationDate": "2008-03-30T05:13:23Z",
        "createdBy": "Kirstin",
        "involvedEmployeeId": 1868,
        "title": "Accident avec Adelle",
        "description": "",
        "statusName": "Open",
        "Témoins": [
            "Mureil",
            "Melina"
        ]
    },
    {
        "id": 81,
        "creationDate": "1983-05-30T11:35:46Z",
        "createdBy": "Louella",
        "involvedEmployeeId": 8139,
        "title": "Accident avec Amara",
        "description": "",
        "statusName": "Closed",
        "Témoins": [
            "Tina",
            "Luci"
        ]
    },
    {
        "id": 38,
        "creationDate": "2017-11-15T08:08:14Z",
        "createdBy": "Nannie",
        "involvedEmployeeId": 2532,
        "title": "Accident avec Helena",
        "description": "",
        "statusName": "InProgress",
        "Témoins": [
            "Jeanna",
            "Jerry"
        ]
    },
    {
        "id": 384,
        "creationDate": "2019-11-16T08:08:14Z",
        "createdBy": "Lola",
        "involvedEmployeeId": 2762,
        "title": "Accident avec Harry",
        "description": "Je me suis cassé le bras",
        "statusName": "InProgress",
        "Témoins": [
            "Jeanna",
            "Jerry",
            "Robert"
        ]
    }
]
  }
}
</script>

<style>
body{
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  display: block;
}

main{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

h1 {
  margin: 0.2em 0;
  font-weight: 400;
  font-size: 2em;
}
h2 {

  margin: 0;
  font-size: 1.5em;
}

h3 {
  margin: 0.2em 0;
  font-size: 1em;
}

span {
  font-size: 1em;
}
a{
  color: #767676;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 1.5em;
}

input,
select {
  width: 15em;
}
 textarea {
  min-width: 25em;
  min-height: 8em;
 }
</style>
